@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(98, 1, 60);
  --primary-dark: rgb(61, 1, 37);

  --secondary: rgb(209, 222, 235);
  --card: rgb(140, 155, 169);

  &.dark {
    --primary: rgb(4, 21, 37);
    --secondary: rgb(71, 53, 53);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
